@{
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[]
    {
        "Time","Price"
    };
}


<body>
    <label for="start">Start date:</label>

    <input type="date" id="start" name="trip-start"
           value="2021-06-14"
           min="2021-06-01" max="2021-07-30">


    <label for="end">End date:</label>

    <input type="date" id="end" name="trip-last"
           value="2021-06-15"
           min="2021-06-01" max="2021-07-30">

    <div>
        <button OnClick="">Search</button>
        
    </div> 
</body>

<script>

</script>

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }

            </tr>
        </thead>
       
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Time</td>
                            <td>@Data.Price</td>
                        </tr>
                    }

                }
            }
        </tbody>
    </table>
</div>