@{
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[]
    {
        "Time","Price"
    };
}


<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }

            </tr>
        </thead>
       
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Time</td>
                            <td>@Data.Price</td>
                        </tr>
                    }

                }
            }
        </tbody>
    </table>
</div>